*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --icon-size: 10vw;
  --main-img-size: 25vw;
}

/* Prevent highlighting images */
img::selection {
  background: none;
}

nav {
  min-width: 100vw;
  max-width: 100vw;
  min-height: var(--icon-size);
  max-height: var(--icon-size);
  margin-left: 20px;
}
.icon {
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  max-width: var(--icon-size);
  max-height: var(--icon-size);
}

header {
  background: #ffe457;
  min-height: 100vh;
  max-height: 100vh;
}
.header-main {
  display: flex;
  min-height: calc(79vh - var(--icon-size));
  max-height: calc(79vh - var(--icon-size));
  justify-content: space-between;
}
.header-main > * {
  margin-top: 10vh;
  margin-left: 20px;
  margin-right: 20px;
}

.header-main .left {
  max-width: 35vw;
}

.header-main .left .top {
  height: calc(79vh - var(--icon-size));
}
.header-main .left .top * + * {
  margin-top: 1vh;
  flex-shrink: 1;
}

.header-main .right img {
  min-height: var(--main-img-size);
  max-height: var(--main-img-size);
  min-width: var(--main-img-size);
  max-width: var(--main-img-size);
}

.main-section {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  margin: 5vw auto;
}
.etch-a-sketch {
  min-height: 80vh;
  max-height: 80vh;
  min-width: 80vh;
  max-width: 80vh;
  display: grid;
  /* This property updates as the number of boxes scale*/
  grid-template-columns: repeat(5, 20%);
}
.box {
  background: #ccc;
  /* This property updates as the number of boxes scale*/
  min-height: 20%;
  outline: 1px whitesmoke solid;
}
